import /tee-supplicant.rc
import /vendor/etc/init/android.hardware.security.keymint.mitee@4.0-service.rc
import /miteelog.rc


on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
    copy /vendor/lib64/libc++.so /system/lib64/libc++.so
    copy /vendor/lib64/libkeymaster_messages.so /system/lib64/libkeymaster_messages.so
    copy /vendor/lib64/libkeymaster_portable.so /system/lib64/libkeymaster_portable.so
    copy /vendor/lib64/libkeymint.so /system/lib64/libkeymint.so
    copy /vendor/lib64/libkeymint_support.so /system/lib64/libkeymint_support.so
    copy /vendor/lib64/libkeymaster4support.so /system/lib64/libkeymaster4support.so
    copy /vendor/lib64/lib_android_keymaster_keymint_utils.so /system/lib64/lib_android_keymaster_keymint_utils.so
    copy /vendor/lib64/libpuresoftkeymasterdevice.so /system/lib64/libpuresoftkeymasterdevice.so
    copy /vendor/lib64/libsoft_attestation_cert.so /system/lib64/libsoft_attestation_cert.so


on fs
    chmod 0660 /dev/block/sdc1
    chown root system /dev/block/sdc1

    mkdir /mnt/vendor 0775 root root
    mkdir /mnt/vendor/protect_f 0770 system system
    mkdir /mnt/vendor/protect_s 0770 system system
    mkdir /mnt/vendor/nvdata 0771 root system
    mkdir /mnt/vendor/nvcfg 0771 system system
    mkdir /mnt/vendor/persist 0755 root root

    mount ext4 /dev/block/by-name/protect1 /mnt/vendor/protect_f noatime,nosuid,nodev,noauto_da_alloc,commit=1,nodelalloc wait
    mount ext4 /dev/block/by-name/protect2 /mnt/vendor/protect_s noatime,nosuid,nodev,noauto_da_alloc,commit=1,nodelalloc wait
    mount ext4 /dev/block/by-name/nvdata /mnt/vendor/nvdata noatime,nosuid,nodev,noauto_da_alloc,commit=1,nodelalloc wait
    mount ext4 /dev/block/by-name/nvcfg /mnt/vendor/nvcfg noatime,nosuid,nodev,noauto_da_alloc,commit=1,nodelalloc wait
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist noatime,nosuid,nodev,noauto_da_alloc,commit=1,nodelalloc wait

    restorecon_recursive /metadata
    restorecon_recursive /mnt/vendor/persist

    mkdir /mnt/vendor/persist/data 0755 system system
    mkdir /mnt/vendor/persist/fdsd 0755 system system

    setprop vendor.teefs_state ready
    setprop ro.hardware.gatekeeper mitee

    symlink /dev/block/platform/bootdevice /dev/block/bootdevice


on early-fs
    start vold

on fs
    setprop sys.usb.config adb
    start adbd

on late-fs
    mount_all /first_stage_ramdisk/fstab.mt6855 --late

on post-fs
    exec_background - system log -- /system/bin/recovery-refresh
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link

on post-fs-data
#    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/f0_save
#    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/osc_save
#    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/f0_save
#    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/osc_save
#    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/custom_wave
#    chmod 0666 /sys/bus/i2c/drivers/awinic_haptic/1-005a/custom_wave

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

#service haptic_hal /system/bin/haptic_hal.sh
#    user root
#    group root
#    disabled
#    oneshot
#    seclabel u:r:recovery:s0

service prepdecrypt /system/bin/prepdecrypt.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service delayed_gatekeeper /system/bin/sh -c "sleep 1; start vendor.gatekeeper_mitee"
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted
    start prepdecrypt

on property:crypto.ready=1
    start tee-supplicant
    start vendor.keymint-mitee
    start delayed_gatekeeper

on property:hwservicemanager.ready=true
    start miteelog

on property:servicemanager.ready=true
    start vendor.boot-default

on property:ro.crypto.state=unsupported
    stop vendor.keymint-mitee
    stop vendor.gatekeeper_mitee
    stop tee-supplicant

on property:twrp.all.users.decrypted=true
    stop vendor.keymint-mitee
    stop vendor.gatekeeper_mitee
    stop tee-supplicant
    stop miteelog

#on property:twrp.modules.loaded=true
#    start haptic_hal

on boot
    start vendor.health-default

on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b
    symlink /dev/block/by-name/lk1 /dev/block/by-name/bootloader1
    symlink /dev/block/by-name/lk2 /dev/block/by-name/bootloader2

on property:vendor.mtk.boot0_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot0
on property:vendor.mtk.boot0_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot0
on property:vendor.mtk.boot0_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot0
on property:vendor.mtk.boot1_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot1
on property:vendor.mtk.boot1_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
on property:vendor.mtk.boot1_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot1
